{% extends 'base.html' %} {% block page_title %}Home Page{% endblock %} {% block page_heading %}Home{% endblock %}


{% block content %}

<div class="container">
<br>
<br>
<H1 class="text-center">Welcome to Briarheart Medical Centre’s Online Patient Medication Reorder system.</H1>
<br>
<br>
<hr>
<h3 class="text-center">Patients can reorder previously prescribed medication using this system for doctor’s approval. Once approved we will send you a notification of when we will deliver it to you at home. If you require different medication you will need to call the Medical centre on 0800 – 4868 – 2868 for a Doctors consultation
</h3>
<hr>
</div>

{% endblock %}