{% load static %}
{% load bootstrap4 %}
<html>

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    
    
<title>{% block page_title %}{% endblock %}</title>
</head>

<body>
    <h1>
        {% block page_heading %}{% endblock %}
    </h1>

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <ul clss="navbar-nav mr-auto">
            <!--Superuser landing page-->
            {% if user.is_superuser%}
                <li class="nav-item"><a class="nav-link" href="{% url 'doc_registration' %}">Register Doc</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'registration' %}">Register Patient</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>

                <!--Doctors Authenticated landing page-->
                {% elif user.is_staff %}
                <li class="nav-item"><a class="nav-link" href="{% url 'doc_profile' %}">Dr. {{ user.last_name }}'s Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>

                <!--Patients Authenticated landing page-->
                {% elif user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'addmeds' %}">Add medications</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                

                <!--Unauthenticated landing page-->
            {% else %}
            <li><a href="{% url 'login' %}">Patient Login</a></li>
            <li><a href="{% url 'doc_login' %}">Doctor Login</a></li>
            <li><a href="{% url 'registration' %}">Register</a></li>
            {% endif %}
            
        </ul>
    </nav>

    <hr>
    
     <main role="main" class="container">
      <div class="row">
        <div class="col-md-10">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
       
      </div>
    </main>

 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
